* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
html,
body {
	height: 100%;
	min-width: $minWidth + px;
}
body {
	color: $textColor;
	line-height: 1.4;
	font-family: $fontFamily;
	//font-size: $fontSize;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: clamp(14px,#{$fontSize},#{$fontSize});

	@media (max-width:$tablet){
		font-size:toRem(14);
	}
}
input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}

input,
textarea {
	width: 100%;
}

label {
	display: inline-block;
}

button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	margin-top: 0;
	margin-bottom: 1rem;
}


//base styles
/* General Reset */


/* Strong Tag */
strong {
	font-weight: 700;
}


/* Blockquote */
blockquote {
	margin: 1em 0;
	padding: 0.5em 1em;
	border-left: 4px solid #ccc;
	background: #9b9b9b;
	font-style: italic;
}

cite {
	display: block;
	font-size: .8125rem;
	font-style: italic;
}
.cite-block:before,cite:before {
	content: "";
}

/* Tables */
table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1rem;
	border-radius: 0;
}

thead,tbody,tfoot {
	border: 1px solid hsl(0,0%,95%);
	background-color:  darken(#9b9b9b,90%);
}

caption {
	padding: .5rem .625rem .625rem;
	font-weight: bold;
}

thead {
	background: hsl(0,0%,95%);

}

tfoot {
	background: hsl(0,0%,95%);

}

thead tr,tfoot tr {
	background: rgba(0,0,0,0);
}

thead th,thead td,tfoot th,tfoot td {
	padding: .5rem .625rem .625rem;
	font-weight: bold;
	text-align: left;
}

tbody th,tbody td {
	padding: .5rem .625rem .625rem;
}

tbody tr {
	border-bottom: 1px solid hsl(0,0%,95%);
	background-color: #9b9b9b;
}

table.striped tbody tr:nth-child(even) {
	border-bottom: 0;
	background-color: hsl(0,0%,95%)
}

@media print,screen and (max-width: 64.06125em) {
	table.stack thead {
		display:none;
	}

	table.stack tfoot {
		display: none;
	}

	table.stack tr,table.stack th,table.stack td {
		display: block;
	}

	table.stack td {
		border-top: 0;
	}
}

table.scroll {
	display: block;
	width: 100%;
	overflow-x: auto;
}

table.hover thead tr:hover {
	background-color: hsl(0,0%,93%);
}

table.hover tfoot tr:hover {
	background-color: hsl(0,0%,93%);
}

table.hover tbody tr:hover {
	background-color: hsl(0,0%,98%);
}

table.hover.striped tr:nth-of-type(even):hover {
	background-color: hsl(0,0%,93%);
}

.table-scroll {
	overflow-x: auto;
}

/* Lists */
ul{
	list-style-type: disc;
}
ul, ol {

	padding-left: 2em;
	list-style-position:inside;
}


ul ul, ol ol {

}

/* Preformatted Text */
pre {
	padding: 1em;
	overflow-x: auto;
}
address{
	margin-bottom: 1rem;
}
/* Inline Elements */
abbr, acronym {
	border-bottom: 1px dotted #333;
	cursor: help;
}

code, kbd, tt {
	font-family: monospace, monospace;
	background: #f9f9f9;
	padding: 0.2em 0.4em;
	border-radius: 4px;
}

del {
	text-decoration: line-through;
}

em, i {
	font-style: italic;
}

ins {
	text-decoration: underline;
}

small {
	font-size: 0.875em;
}

sub {
	vertical-align: sub;
	font-size: 0.75em;
}

sup {
	vertical-align: super;
	font-size: 0.75em;
}

u {
	text-decoration: underline;
}

var {
	font-style: italic;
}
dl {
	margin-bottom: 1rem
}

dl dt {
	margin-bottom: .3rem;
	font-weight: bold
}
