@use "sass:math";
//Percent
@function percent($px, $from: 100) {
  $result: math.div($px, $from) * 100%;
  @return $result;
}
//REM
@function toRem($px, $current: 16) {
  $result: math.div($px, $current) + rem;
  @return $result;
}
//EM
@function toEm($px, $current: 16) {
  $result: math.div($px, $current) + em;
  @return $result;
}

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================


// Основні кольори
$yellow: #ffb300;
$lightYellow:#ffec3d;
$black:#1c1812;
$green:#1a4740;
$beige:#ffe9d6;

$mainColor: $yellow; // (Primary) Колір шрифту за замовчуванням
$secondary:$black;
$backgroundColor:$green;
$textColor:$beige;
$accent:$lightYellow;
$linksColor:$yellow;
$linksColorHover:$lightYellow;
  // Палітра кольорів
// @import "base/_colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
$maxWidthMediumPc:1399.98;
$maxWidthSmallPc:1199.98;
$maxTablet:991.98;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1200;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 60;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$medium-pc:toEm(1399.98);
$small-pc:toEm(1199.98);
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
@import '../inc/_fonts.scss';

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Open Sans";
$fontSize: toRem(16); // де 14(px) - розмір шрифту за замовчуванням з макету

html{
  font-size: math.div(16, $maxWidth) * 100vw;
  @media (max-width:$medium-pc){
    font-size: math.div(20, $maxWidthMediumPc) * 100vw;
  }
  @media (max-width:$tablet){
    font-size:16px;
  }
}
